.version.index /* version checker */
{
	color: #000011;
	background-color: #5FDC87;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4624.95px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #DFE1E1;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1467px;
	padding-top: 21px;
	width: 0.01px;/* should not cover content below */
}

#u69
{
	z-index: 2;
	min-height: 650px;
	border-color: #000000;
	background: #0D89BD url("../images/dsc_3935%20psd.jpg") no-repeat center center;
	background-size: cover;
}

#u69_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 204px;
	padding-bottom: 288px;
}

#u70-4
{
	z-index: 3;
	width: 604px;
	min-height: 99px;
	background-color: transparent;
	color: #29ABE2;
	line-height: 86px;
	font-size: 72px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	left: 278px;
	position: relative;
}

#u94-4
{
	z-index: 7;
	width: 234px;
	min-height: 47px;
	border-style: solid;
	border-width: 2px;
	border-color: #0D89BD;
	background-color: transparent;
	color: #29ABE2;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	left: 461px;
	margin-top: 8px;
	position: relative;
}

#u94-4:hover
{
	background-color: #0D89BD;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 234px;
	margin: 8px 0px 0px;
}

#u94-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u94-2
{
	padding-top: 6px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u69-bw
{
	z-index: 2;
	min-height: 650px;
}

#u95
{
	z-index: 211;
	height: 70px;
	border-color: #000000;
	background-color: #F15A24;
}

#u95-bw
{
	z-index: 211;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 650px;
}

#u96-4
{
	z-index: 212;
	width: 234px;
	min-height: 49px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: left;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 665px;
	left: 22px;
}

#menuu97
{
	z-index: 216;
	width: 399px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 676px;
	left: 431px;
}

#u130
{
	width: 89px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u131
{
	width: 89px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u131.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u134-4
{
	width: 49px;
	min-height: 29px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 20px;
}

#u131.MuseMenuActive #u134-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u123
{
	width: 93px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 91px;
}

#u126
{
	width: 93px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u129-4
{
	width: 53px;
	min-height: 29px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 20px;
}

#u126.MuseMenuActive #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u137
{
	width: 105px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#u138
{
	width: 105px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u139-4
{
	width: 66px;
	min-height: 29px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 19px;
}

#u138.MuseMenuActive #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u98
{
	width: 106px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 293px;
}

#u99
{
	width: 106px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u100-4
{
	width: 67px;
	min-height: 29px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 19px;
}

#u99.MuseMenuActive #u100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#about
{
	left: -100px;
	margin-top: 19px;
	position: relative;
}

#u182-4
{
	z-index: 11;
	width: 916px;
	min-height: 87px;
	background-color: transparent;
	color: #F15A24;
	line-height: 86px;
	font-size: 72px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 22px;
	margin-top: 82px;
	position: relative;
}

#u183-4
{
	z-index: 15;
	width: 916px;
	min-height: 89px;
	background-color: transparent;
	color: #FBB03B;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 22px;
	position: relative;
}

#pu188
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 30px;
}

#u188
{
	z-index: 35;
	width: 292px;
	height: 160px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/dsc_0632.jpg") no-repeat center top;
	background-size: cover;
}

#u189
{
	z-index: 36;
	width: 292px;
	height: 160px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 312px;
	background: #FFFFFF url("../images/dsc_0620%20copy-u189-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u190
{
	z-index: 37;
	width: 292px;
	height: 160px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 624px;
	background: #FFFFFF url("../images/dsc_0646%20copy-u190-fr.jpg") no-repeat left top;
	background-size: cover;
}

#pu184-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 11px;
}

#u184-4
{
	z-index: 19;
	width: 292px;
	min-height: 39px;
	background-color: transparent;
	color: #FBB03B;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u186-4
{
	z-index: 27;
	width: 292px;
	min-height: 39px;
	background-color: transparent;
	color: #FBB03B;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u187-4
{
	z-index: 31;
	width: 292px;
	min-height: 39px;
	background-color: transparent;
	color: #FBB03B;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#pu185-4
{
	width: 0.01px;
	margin-left: 22px;
}

#u185-4
{
	z-index: 23;
	width: 292px;
	min-height: 61px;
	background-color: transparent;
	color: #4B5B6B;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u185
{
	font-size: 18px;
}

#u197-4
{
	z-index: 38;
	width: 292px;
	min-height: 61px;
	background-color: transparent;
	text-align: center;
	color: #4B5B6B;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u198-4
{
	z-index: 42;
	width: 292px;
	min-height: 61px;
	background-color: transparent;
	text-align: center;
	color: #4B5B6B;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#u280
{
	z-index: 46;
	min-height: 324px;
	border-color: #000000;
	padding-bottom: 276px;
	background: #4295CD url("../images/pr%2029%20-%20trs%20-%2014_05_10%20-%20001-u280-fr.png") no-repeat center center;
	background-color: rgba(0,113,188,0.74);
	background-size: cover;
}

#u969-4
{
	z-index: 145;
	width: 916px;
	min-height: 87px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 86px;
	font-size: 72px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 237px;
	left: 77px;
}

#u280-bw
{
	z-index: 46;
	min-height: 324px;
	margin-top: 51px;
}

#u294-4
{
	z-index: 47;
	width: 916px;
	min-height: 87px;
	background-color: transparent;
	color: #F15A24;
	line-height: 86px;
	font-size: 72px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 51px;
	margin-top: 76px;
	position: relative;
}

#u295-4
{
	z-index: 51;
	width: 916px;
	min-height: 89px;
	background-color: transparent;
	color: #4B5B6B;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 51px;
	position: relative;
}

#prooms
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 30px;
}

#rooms
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 30px;
}

#u401
{
	z-index: 55;
	width: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 266px;
}

#u390
{
	z-index: 56;
	width: 292px;
	height: 200px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/dsc_0620%20copy-u390-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u394-5
{
	z-index: 57;
	width: 97px;
	min-height: 97px;
	border-style: solid;
	border-width: 3px;
	border-color: #FFFFFF;
	background-color: #F7931E;
	border-radius: 100px;
	color: #FFFFFF;
	line-height: 23px;
	font-size: 24px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 95px;
}

#u395-4
{
	z-index: 62;
	width: 292px;
	min-height: 39px;
	background-color: transparent;
	color: #F15A24;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u396-14
{
	z-index: 66;
	margin-left: 1px;
	position: relative;
}

#u396-14_img
{
	display: block;
	vertical-align: top;
}

#u408
{
	z-index: 80;
	width: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 618px;
}

#pu390,#pu411
{
	width: 0.01px;
	margin-left: 1px;
}

#u411
{
	z-index: 81;
	width: 292px;
	height: 200px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/pr%2036%20-%20trs%20-%2003_08_10_239-u411-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u412-5
{
	z-index: 82;
	width: 97px;
	min-height: 97px;
	border-style: solid;
	border-width: 3px;
	border-color: #FFFFFF;
	background-color: #F7931E;
	border-radius: 100px;
	color: #FFFFFF;
	line-height: 23px;
	font-size: 24px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 95px;
}

#u394-5:hover,#u412-5:hover
{
	background-color: #00A99D;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 97px;
	width: 97px;
	margin: 149px -10000px -2px 0px;
}

#u394,#u394-3,#u412,#u412-3
{
	padding-top: 3px;
}

#u410-4
{
	z-index: 87;
	width: 292px;
	min-height: 39px;
	background-color: transparent;
	color: #F15A24;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u409-14
{
	z-index: 91;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	position: relative;
}

#u539
{
	z-index: 105;
	min-height: 327px;
	border-color: #000000;
	padding-bottom: 273px;
	background: #4497CE url("../images/pr%2036%20-%20trs%20-%2003_08_10_239-u539-fr.png") no-repeat left top;
	background-color: rgba(0,113,188,0.73);
	background-size: cover;
}

#u971-4
{
	z-index: 149;
	width: 916px;
	min-height: 87px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 86px;
	font-size: 72px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 66px;
}

#u539-bw
{
	z-index: 105;
	min-height: 327px;
	margin-top: 235px;
}

#u540-4
{
	z-index: 106;
	width: 916px;
	min-height: 87px;
	background-color: transparent;
	color: #F15A24;
	line-height: 86px;
	font-size: 72px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 22px;
	margin-top: 66px;
	position: relative;
}

#pu541-4
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -4px;
}

#u541-4
{
	z-index: 110;
	width: 916px;
	min-height: 89px;
	background-color: transparent;
	color: #4B5B6B;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 122px;
}

#slideshowu542
{
	z-index: 114;
	width: 0.01px;
	height: 542px;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 122px;
}

#u545
{
	position: absolute;
	width: 916px;
	height: 432px;
	background-color: transparent;
}

#u545popup
{
	z-index: 115;
}

#u4108
{
	z-index: 116;
	width: 916px;
	height: 432px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/dsc_0695%20copy.jpg") no-repeat center center;
}

#u4145
{
	z-index: 118;
	width: 916px;
	height: 432px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/dsc_0695%20copy.jpg") no-repeat center center;
}

#u4171
{
	z-index: 120;
	width: 916px;
	height: 432px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/dsc_0695%20copy.jpg") no-repeat center center;
}

#u4196
{
	z-index: 122;
	width: 916px;
	height: 432px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/dsc_0695%20copy.jpg") no-repeat center center;
}

#u4223
{
	z-index: 124;
	width: 916px;
	height: 432px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/dsc_0695%20copy.jpg") no-repeat center center;
}

#u4251
{
	z-index: 126;
	width: 916px;
	height: 432px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/dsc_0695%20copy.jpg") no-repeat center center;
}

#u4279
{
	z-index: 128;
	width: 916px;
	height: 432px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/dsc_0695%20copy.jpg") no-repeat center center;
}

#u572
{
	position: absolute;
	width: 916px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 55px;
	top: 442px;
}

#u572popup
{
	z-index: 130;
}

#u4114
{
	z-index: 131;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 218px;
}

#u4151
{
	z-index: 133;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 288px;
}

#u4177
{
	z-index: 135;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 358px;
}

#u4202
{
	z-index: 137;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 428px;
}

#u4229
{
	z-index: 139;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u4257
{
	z-index: 141;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 568px;
}

#u4285
{
	z-index: 143;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 638px;
}

#u4114.SSSlideLinkSelected,#u4151.SSSlideLinkSelected,#u4177.SSSlideLinkSelected,#u4202.SSSlideLinkSelected,#u4229.SSSlideLinkSelected,#u4257.SSSlideLinkSelected,#u4285.SSSlideLinkSelected
{
	border-width: 0px;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4114_img,#u4151_img,#u4177_img,#u4202_img,#u4229_img,#u4257_img,#u4285_img
{
	margin-left: -4px;
	margin-right: -4px;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#booking
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#pu1481
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -29px;
}

#u1481
{
	z-index: 154;
	min-height: 311px;
	border-color: #000000;
	background-color: #FBB03B;
	padding-bottom: 89px;
}

#u1482
{
	z-index: 155;
	width: 682px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 114px;
}

#pu1486-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1486-4
{
	z-index: 156;
	width: 214px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	text-align: left;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1491-4
{
	z-index: 160;
	display: block;
	vertical-align: top;
	position: relative;
}

#pu1487-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 234px;
}

#u1487-4
{
	z-index: 168;
	width: 214px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	text-align: left;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1488-23
{
	z-index: 172;
	width: 214px;
	min-height: 214px;
	background-color: transparent;
	line-height: 19px;
	font-size: 12px;
	text-align: left;
	position: relative;
}

#u1488-2,#u1488-4,#u1488-6,#u1488-8,#u1488-10,#u1488-12,#u1488-14,#u1488-16,#u1488-18,#u1488-20
{
	color: #FFFFFF;
}

#u1488-21
{
	color: #868B8E;
}

#pu1493-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 468px;
}

#u1493-4
{
	z-index: 164;
	width: 214px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	text-align: left;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1489-8
{
	z-index: 195;
	width: 214px;
	min-height: 172px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1489-2,#u1489-4
{
	line-height: 29px;
}

#u1489-6
{
	text-align: left;
	line-height: 38px;
}

#u1481-bw
{
	z-index: 154;
	min-height: 311px;
}

#u1496
{
	z-index: 203;
	min-height: 65px;
	border-color: #000000;
	background-color: #4B5B6B;
	padding-bottom: 22px;
}

#u280_align_to_page,#u539_align_to_page,#u1481_align_to_page,#u1496_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u1497-4
{
	z-index: 204;
	width: 604px;
	min-height: 27px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 270px;
}

#u1498
{
	z-index: 208;
	width: 40px;
	height: 40px;
	border-color: #000000;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 902px;
	background: #0D89BD url("../images/facebook.png") no-repeat center center;
}

#u1498:hover
{
	width: 40px;
	height: 40px;
	min-height: 0px;
	margin: 22px -10000px 0px 0px;
	background: #00A99D url("../images/facebook.png") no-repeat center center;
}

#u1499
{
	z-index: 209;
	width: 40px;
	height: 40px;
	border-color: #000000;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 946px;
	background: #0D89BD url("../images/twitter.png") no-repeat center center;
}

#u1499:hover
{
	width: 40px;
	height: 40px;
	min-height: 0px;
	margin: 22px -10000px 0px 0px;
	background: #00A99D url("../images/twitter.png") no-repeat center center;
}

#u1500
{
	z-index: 210;
	width: 40px;
	height: 40px;
	border-color: #000000;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 990px;
	background: #0D89BD url("../images/skype.png") no-repeat center center;
}

#u1500:hover
{
	width: 40px;
	height: 40px;
	min-height: 0px;
	margin: 22px -10000px 0px 0px;
	background: #00A99D url("../images/skype.png") no-repeat center center;
}

#u1496-bw
{
	z-index: 203;
	min-height: 65px;
	margin-top: 315px;
}

#gallery
{
	left: -100px;
	margin-top: 327px;
	position: relative;
}

#contact
{
	left: -100px;
	margin-top: 1104px;
	position: relative;
}

.html
{
	background-color: #DFE1E1;
}

body
{
	position: relative;
	min-width: 960px;
}

